USE [master]
GO
/****** Object:  Database [MyCompany]    Script Date: 5/8/2021 6:59:48 PM ******/
CREATE DATABASE [MyCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyCompany.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MyCompany_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyCompany]
GO
/****** Object:  Table [dbo].[per_relationship]    Script Date: 5/8/2021 6:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[per_relationship](
	[id_rel] [int] NOT NULL,
	[id_user_rel] [int] NOT NULL,
	[id_per_rel] [int] NOT NULL,
	[suspended] [bit] NULL,
 CONSTRAINT [PK_per_relationship] PRIMARY KEY CLUSTERED 
(
	[id_rel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permision]    Script Date: 5/8/2021 6:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permision](
	[id_per] [int] NOT NULL,
	[name_per] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permision] PRIMARY KEY CLUSTERED 
(
	[id_per] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permision_detail]    Script Date: 5/8/2021 6:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permision_detail](
	[id_pd] [int] NOT NULL,
	[name_action] [nvarchar](50) NULL,
	[code_action] [varchar](50) NULL,
	[id_per] [int] NULL,
 CONSTRAINT [PK_Permision_detail] PRIMARY KEY CLUSTERED 
(
	[id_pd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/8/2021 6:59:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[LoginName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[per_relationship]  WITH CHECK ADD  CONSTRAINT [FK_per_relationship_Permision] FOREIGN KEY([id_per_rel])
REFERENCES [dbo].[Permision] ([id_per])
GO
ALTER TABLE [dbo].[per_relationship] CHECK CONSTRAINT [FK_per_relationship_Permision]
GO
ALTER TABLE [dbo].[per_relationship]  WITH CHECK ADD  CONSTRAINT [FK_per_relationship_Users] FOREIGN KEY([id_user_rel])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[per_relationship] CHECK CONSTRAINT [FK_per_relationship_Users]
GO
ALTER TABLE [dbo].[Permision_detail]  WITH CHECK ADD  CONSTRAINT [FK_Permision_detail_Permision] FOREIGN KEY([id_per])
REFERENCES [dbo].[Permision] ([id_per])
GO
ALTER TABLE [dbo].[Permision_detail] CHECK CONSTRAINT [FK_Permision_detail_Permision]
GO
USE [master]
GO
